.input-box {
    height: 3rem;
    border: 2px solid $secondary-color;
    border-radius: 0.3rem;
    display: flex;
    justify-content: end;
    width: 100%;

    input {
        height: 100%;
        outline: none;
        width: 100%;
        padding: 0.3rem;
        font-size: 1.5rem;
        border: 2px solid $secondary-color;
    }
}

.btn {
    padding: 0.3rem;
    outline: none;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: $primary-color;
    background-color: $secondary-color;
}
