.list {

padding: .2rem;
}

.toDo {
    min-height: 3rem;
    background-color: $primary-color;
    border-radius: .2rem;
    font-size: 1.4rem;
    margin: .5rem;
    display: flex;
    justify-content: space-between;
}

.content {
    padding: .8rem;
    display: flex;
    align-items: center;
    p {
        width: 20rem;
        word-wrap: break-word;
        font-family: $app-font;
        border-bottom: 1px solid #fff;
        font-size: 1.4rem;
    }
    input {
        font-family: $app-font;
        width: 20rem;
        border: none;
        border-bottom: 1px solid $secondary-color;
        font-size: 1.4rem;
        align-items: center;
        outline: none;
        }
    }

.icon-box {
    padding: .8rem;
}
.icon-box, .icon-container {
    display: flex;
    align-items: center;
}
.icon-container {
    border-radius: 1rem;
    background-color: $primary-color;
    box-shadow: 0 0 5px 5px $primary-color;

}


.optional {
    position: absolute;
    transform: translateX(-5rem);
}


.icon {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
    cursor: pointer;
    &:hover {
        transform: scale(1.1);
    }
}