@import 'config';
@import 'input';
@import 'todo';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    // align-items: center;
    height: 100vh;
}

// .App-box {
//     display: ;
// }


.App {
    background-color: bisque;
    margin-top: 2rem;
    font-family: $app-font;
    border-radius: .4rem;
    // max-width: 40rem;
    // min-height: 20rem;
    width: 30rem;
}

@media (max-width: 700px ) {
    .App {
        width: 100vw;
        margin: 0;
    }
    body {
        align-items: start;
    }
    .input-box {
        border-radius: 0;
        height: 4rem;  
        input{
            font-size: 2rem;
        }
    }
    .btn {
        font-size: 2.1rem;
    }
    .content p, .content input {
        width: 65vw;
    }
    
}